# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
max_line_length = 120
charset = utf-8

# The JSON files contain newlines inconsistently
[*.{json,jsonnet}]
indent_size = 2
insert_final_newline = ignore

# Readme file should not be trimmed
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
